*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    background-color: rgb(194, 62, 62);
    color: white;
}

body{
    background-image: url(../img/background1.jpg);
    background-size: cover;
}

/*=========HEADER==========*/

.header__titulo{
    font-family: monospace;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: azure;
    font-size: 22px;
}

.nav__ul-li{
    text-align: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0px;
    
    
}

.nav__ul-li:hover{
    background-color: rgba(36, 36, 36, 0.7);
    transition: 0.12s;
}

.nav__ul-li:active{
    background-color: rgba(68, 68, 68, 0.5);
}

.nav__ul-li a{
    padding: 15px;
    color: azure;
    font-family: monospace;
    text-decoration: none;
    font-size: 15px;
}


/*=========ARTICLE==========*/


.div__container-info{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin: 10px 0;
}

.div__container-info-text{
    margin: 10px auto;
    color: azure;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: left;
    border: 3px solid rgba(36, 36, 36, 0.7)
}

.div__container-info-text:hover{
    background-color: rgba(36, 36, 36, 0.7);
}

.div__container-info-text-title{
    margin: auto;
    width: 250px;
    font-family: monospace;
    padding: 10px;
    font-size: 18px;
}
.div__container-info-text-ul{
    margin: auto;
    width: 250px;
    font-family: monospace;
    padding: 15px;
}
.div__container-info-text-ul-li{
    list-style: none;
    font-size: 15px;
}


/*=========FOOTER==========*/

.footer{
    font-size: 15px;
    color: azure;
    font-family: monospace;
    text-align: center;
    padding: 10px;
    margin: 20px;
}


/********************MEDIA 600 PX*******************/

@media only screen and (min-width: 600px){

    /*=========HEADER==========*/

    .header__titulo{
        font-family: monospace;
        text-align: center;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.7);
        color: azure;
        font-size: 21px;
    }

    .nav__ul{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 5px;
    }

    .nav__ul-li{
        display: inline-block;
        text-align: center;
        padding: 15px 15px;
        background-color: rgba(0, 0, 0, 0.0);
        margin: 3px;
        
        
    }

    .nav__ul-li:hover{
        background-color: rgba(68, 68, 68, 0.7);
        transition: 0.12s;
    }

    .nav__ul-li:active{
        background-color: rgba(98, 98, 98, 0.5);
    }

    .nav__ul-li a{
        padding: 15px;
        color: azure;
        font-family: monospace;
        text-decoration: none;
        font-size: 15px;
    }


    /*=========ARTICLE==========*/


    article{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .div__container-info{
        background-color: rgba(0, 0, 0, 0.0);
        margin: auto;
        padding: 10px;
        display: block;
    }

    .div__container-info-text{ 
        display: block;
        margin: auto;
        width: 400px;
        background-color: rgba(0, 0, 0, 0.4);
        border: 3px solid rgba(36, 36, 36, 0.7);
    }

    .div__container-info-text:hover{
        background-color: rgba(36, 36, 36, 0.7);
    }

    .div__container-info-text-title{
        margin: auto;
        width: 250px;
        font-family: monospace;
        padding: 10px;
        font-size: 18px;
    }
    .div__container-info-text-parra{
        margin: auto;
        width: auto;
        font-family: monospace;
        padding: 10px;
        font-size: 15px;
    }

}




/********************MEDIA 900 PX*******************/

@media only screen and (min-width: 900px){

    /*=========HEADER==========*/

    header{
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
    }

    .header__titulo{
        font-family: monospace;
        text-align: left;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.0);
        color: azure;
        display: inline-block;
        font-size: 22px;
        width: 50%
    }

    .nav{
        display: inline-block;
        text-align: right;
        width: 45%;
    }

    .nav__ul{
        background-color: rgba(0, 0, 0, 0.0);
        display: inline-block;

    }

    .nav__ul-li{
        display: inline-block;
        text-align: center;
        padding: 15px 2px;
        background-color: rgba(0, 0, 0, 0.0);
        margin: 0px;
        
        
    }


    .nav__ul-li:hover{
        background-color: rgba(68, 68, 68, 0.7);
        transition: 0.12s;
    }

    .nav__ul-li:active{
        background-color: rgba(98, 98, 98, 0.5);
    }

    .nav__ul-li a{
        padding: 15px 10px;
        color: azure;
        font-family: monospace;
        text-decoration: none;
        font-size: 15px;
    }



    /*=========ARTICLE==========*/


    article{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px;
    }

    .div__container-info{
        background-color: rgba(0, 0, 0, 0.0);
        margin: 20px 0;
        padding: 10px;
    }

    .div__container-info-text{ 
        display: block;
        margin: 3px auto;
        width: 500px;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .div__container-info-text:hover{
        background-color: rgba(36, 36, 36, 0.7);
    }

    .div__container-info-text-title{
        margin: auto;
        width: 250px;
        font-family: monospace;
        padding: 10px;
        font-size: 18px;
    }

    .div__container-info-text-parra{
        margin: auto;
        width: auto;
        font-family: monospace;
        padding: 10px;
        font-size: 16px;
        line-height: 1.5;
    }

    .div__container-info-img{
        margin: 3px 20px;
        width: 300px;
        display: inline-flex;
        object-fit: cover;
    }

    
}
