*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    background-color: rgb(194, 62, 62);
    color: white;
}

body{
    background-image: url(../img/background1.jpg);
    background-size: cover;
}

/*=========HEADER==========*/

.header__titulo{
    font-family: monospace;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(240, 240, 240);
    font-size: 22px;
}

.nav__ul-li{
    text-align: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0px;
    
    
}

.nav__ul-li:hover{
    background-color: rgba(36, 36, 36, 0.7);
    transition: 0.12s;
}

.nav__ul-li:active{
    background-color: rgba(68, 68, 68, 0.5);
}

.nav__ul-li a{
    padding: 15px;
    color: rgb(240, 240, 240);
    font-family: monospace;
    text-decoration: none;
    font-size: 15px;
}


/*=========ASIDE==========*/

.aside__titulo{
    font-family: monospace;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(240, 240, 240);
    margin: 0px;
}


.div__container-nov-hijo{
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    text-align: center;
    margin: 0px;
}


.div__container-nov-hijo:hover{
    transition: 0.12s;
}

.div__container-nov-hijo:active{
    background-color: rgba(68, 68, 68, 0.5);
}

.div__container-nov-hijo a{
    display: block;
    color: rgb(240, 240, 240);
    font-family: monospace;
    text-decoration: none;
    font-size: 17px;
    padding: 15px;
}

.div__container-nov-hijo img{
    width: 50vw;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    opacity: 0.8;
    transition: 0.12s;
    
}

.div__container-nov-hijo img:hover{
    width: 55vw;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    opacity: 1;
    transition: 0.12s;

}


/*=========ARTICLE==========*/


.article__titulo{
    font-family: monospace;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(240, 240, 240);
    margin: 0px;
}


.div__container-sec-hijo{
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.div__container-sec-hijo-parra{
    background-color: rgba(0, 0, 0, 0.7);
    font-family: monospace;
    color: rgb(240, 240, 240);
    padding: 40px 20px;
    text-align: center;
    font-size: 14px;
}


.div__container-sec-hijo a{
    display: block;
    color: rgb(240, 240, 240);
    background-color: rgba(0, 0, 0, 0);
    font-family: monospace;
    text-decoration: none;
    font-size: 17px;
    padding: 15px;
}

.div__container-sec-hijo a:hover{
    background-color: rgba(36, 36, 36, 0.7);
    transition: 0.12s;
}

.div__container-sec-hijo:active{
    background-color: rgba(68, 68, 68, 0.5);
}


/*=========FOOTER==========*/


.footer{
    font-size: 15px;
    color: rgb(240, 240, 240);
    font-family: monospace;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

/********************MEDIA 600 PX*******************/

@media only screen and (min-width: 600px){

    /*=========HEADER==========*/

    .header__titulo{
        font-family: monospace;
        text-align: center;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.7);
        color: rgb(240, 240, 240);
        font-size: 22px;
    }

    .nav__ul{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 5px;
    }

    .nav__ul-li{
        display: inline-block;
        text-align: center;
        padding: 15px 15px;
        background-color: rgba(0, 0, 0, 0.0);
        margin: 3px;
        
        
    }

    .nav__ul-li:hover{
        background-color: rgba(68, 68, 68, 0.7);
        transition: 0.12s;
    }

    .nav__ul-li:active{
        background-color: rgba(98, 98, 98, 0.5);
    }

    .nav__ul-li a{
        padding: 15px;
        color: rgb(240, 240, 240);
        font-family: monospace;
        text-decoration: none;
        font-size: 15px;
    }


    /*=========ASIDE==========*/

    .div__container-nov{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        margin: 0px;
        padding: 10px;
    
    }


    .div__container-nov-hijo{
        background-color: rgba(0, 0, 0, 0.0);
        display: inline-block;
        margin: 3px;
    }

    
    .div__container-nov-hijo a{
        background-color: rgba(0, 0, 0, 0.0);
        padding: 10px;
    }

    .div__container-nov-hijo img{
        width: 25vw;
        display: block;
        margin-bottom: 10px;
        opacity: 0.8; 
        transition: 0.12s;  
    }


   
    .div__container-nov-hijo img:hover{
        width: 24.8vw;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        opacity: 1;
        transition: 0.12s;
    }
   


    /*=========ARTICLE==========*/

    .div__container-sec{
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        margin: 0px;
    }

    .div__container-sec-hijo{
        background-color: rgba(0, 0, 0, 0.0);
        display: inline-flex;
    }

    .div__container-sec-hijo-parra{
        background-color: rgba(0, 0, 0, 0.0);
        font-family: monospace;
        color: rgb(240, 240, 240);
        padding: 40px 20px;
        text-align: center;
        font-size: 14px;
    }

    .div__container-sec-hijo:hover{
        background-color: rgba(68, 68, 68, 0.7);
    }

    .div__container-sec-hijo a{
        background-color: rgba(0, 0, 0, 0);
    }    
}



/********************MEDIA 900 PX*******************/

@media only screen and (min-width: 900px){

    /*=========HEADER==========*/

    header{
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
    }

    .header__titulo{
        font-family: monospace;
        text-align: left;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.0);
        color: rgb(240, 240, 240);
        display: inline-block;
        font-size: 22px;
        width: 50%
    }

    .nav{
        display: inline-block;
        text-align: right;
        width: 45%;
    }

    .nav__ul{
        background-color: rgba(0, 0, 0, 0.0);
        display: inline-block;

    }

    .nav__ul-li{
        display: inline-block;
        text-align: center;
        padding: 15px 2px;
        background-color: rgba(0, 0, 0, 0.0);
        margin: 0px;
        
        
    }


    .nav__ul-li:hover{
        background-color: rgba(68, 68, 68, 0.7);
        transition: 0.12s;
    }

    .nav__ul-li:active{
        background-color: rgba(98, 98, 98, 0.5);
    }

    .nav__ul-li a{
        padding: 15px 10px;
        color: rgb(240, 240, 240);
        font-family: monospace;
        text-decoration: none;
        font-size: 15px;
    }
    

    /*=========ASIDE==========*/

    .div__container-nov{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        margin: 0px;
        padding: 10px;
    
    }


    .div__container-nov-hijo{
        background-color: rgba(0, 0, 0, 0.0);
        display: inline-block;
        margin: 3px 40px;
    }

    
    .div__container-nov-hijo a{
        background-color: rgba(0, 0, 0, 0.0);
        padding: 10px;
    }

    .div__container-nov-hijo img{
        width: 13vw;
        display: block;
        margin-bottom: 10px;
        opacity: 0.8; 
        transition: 0.12s;  
    }


    .div__container-nov-hijo img:hover{
        width: 12.8vw;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        opacity: 1;
        transition: 0.12s;
    }


    /*=========ARTICLE==========*/

    .div__container-sec{
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        margin: 0px;
        padding: 20px;
    }

    .div__container-sec-hijo{
        display: inline-flex;
        line-height: 2.5;
        margin: 0 10px;
        border: 3px solid rgba(36, 36, 36, 0.7);
        width: 175px;
        height: 125px;

    }

    .div__container-sec-hijo:hover{
        background-color: rgba(58, 58, 58, 0.7);
    }

    .div__container-sec-hijo-parra{
        background-color: rgba(0, 0, 0, 0.0);
        font-family: monospace;
        color: rgb(240, 240, 240);
        padding: 40px 20px;
        text-align: center;
        font-size: 14px;
    }


    .div__container-sec-hijo a{
        background-color: rgba(0, 0, 0, 0);
    }    

}



